extends layout

block content
	.container.center(style="max-width: 300px;")
		h1 Registration
		p.lead Please enter your credentials.
		br
		if (message)
			p.alert.alert-danger
				a.close(data-dismiss="alert") &times;
				&nbsp; #{message}
			br
		form(role='form', action="/register", method="post", style="max-width: 300px;")
			.form-group
				input.form-control(type="text", name="username", placeholder="Username", value="#{username}")
			.form-group
				input.form-control(type="text", name="email", placeholder="email@server.tld", value="#{email}")
			.form-group
				input.form-control(type="password", name="password", placeholder="Password", value="#{password}")
			.form-group
				input.form-control(type="password", name="password-confirmation", placeholder="Password Confirmation")
			.form-group
				button.btn.btn-primary(type='submit') Submit
				&nbsp;
				button.btn.btn-default(type="button", onclick="location.href='/'") Cancel

